[submodule "SoulsFormats"]
	path = src/SoulsFormats
	url = https://github.com/JKAnderson/SoulsFormats.git
[submodule "PropertyHook"]
	path = src/PropertyHook
	url = https://github.com/Nordgaren/PropertyHook.git
